/* 컴포넌트 바로 css 적용하기 */
/* 최상단 App.css에서 컴포넌트이름을 .과 함께 적은후에 거기에 스타일링을 해도 된다. */
/* 컴포넌트 최상단 div의 ClassName을 컴포넌트의 이름과 똑같이 적었기 때문 */

.DiaryEditor2 {
  border: 1px solid gray;
  text-align : center;
  padding : 20px;
}

.DiaryEditor2 input, textarea {
  margin-bottom: 20px;
  width: 500px;
  padding : 10px;
}

.DiaryEditor2 textarea {
  height: 150px;
}

.DiaryEditor2 select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.DiaryEditor2 button{
  width: 500px;
  padding: 10px;
  cursor: pointer;
}